*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #111;
}

section{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section h2{
  position: relative;
  color: white;
  font-size: 9rem;
}

section h4{
  position: absolute;
  font-size: 2rem;
  margin-top: 250px;
}

section a{
  padding: 5px 10px;
  border-radius: 30px;
  color: white;
  text-decoration: none;
}

section a:hover{
  background: white;
  color: #111;
  transition: 0.5s;
}

@media (max-width:768px){  
  section h2{
    font-size: 5rem;
  }
  
  section h4{
    font-size: 1rem;
    margin-top: 150px;
  }
  
  section a{
    padding: 3px 8px;
  }
}