*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  font-size: 20px;
  background: #242423;
  color: #cfdbd5;
  width: 100%;
  height: 100vh;
}

.box{
  padding: 5rem 3rem 1.5rem 3rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-areas:
  "content1 image1"
  "image2 content2";
}

.box1{grid-area: image1;}
.box2{grid-area: content1;}
.box3{grid-area: image2;}
.box4{grid-area: content2;}

.box0{
  padding: 0 3rem 1rem 3rem;
}

.box0 img{
  width: 50%;
}

.box_{
  padding: 0 3rem 1rem 3rem;
}

img{
  width: 100%;
  border: 1px solid #e8eddf;
  box-shadow: 0 0 10px  #e8eddf;
  border-radius: 10px;
}

iframe{
  border: 1px solid #e8eddf;
  box-shadow: 0 0 10px  #e8eddf;
  border-radius: 10px;
  margin: 0.2rem;
}

svg{
  margin: 1rem 1rem 0 1rem;
}

nav{
  position: fixed;
  background: #333533;
  height: 4rem;
  width: 100%;
}

.nav-links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  float: right;
  list-style: none;
}

.nav-links li{
  margin: 1rem 2rem 0 0;
}

nav ul li a{
  color: #cfdbd5;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 30px;
  text-decoration: none;
}

.active:hover{
  background: #cfdbd5;
  color: #333533;
  transition: 0.5s;
}

b, h3, h2{
  color: #f5cb5c;
  margin-bottom: 0.5rem;
}

p{
  margin-bottom: 1rem;
}

@media (max-width:900px){
  .line{
    width: 30px;
    height: 3px;
    margin: 5px;
    background: white;
  }

  .ham{
    position:absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%,-50%);
    z-index: 2;
  }

  .nav-links{
    position: fixed;
    flex-direction: column;
    background: #333533;
    width: 100%;
    height: 100vh;
    clip-path: circle(100px at 120% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open{
    clip-path: circle(1800px at 120% -20%);
    pointer-events: all;
  }

  .nav-links li{
    opacity: 0;
  }

  .nav-links li:nth-child(1){
    transition: all 0.5s ease 0.15s;
  }
  .nav-links li:nth-child(2){
    transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(3){
    transition: all 0.5s ease 0.45s;
  }

  .nav-links li:nth-child(4){
    transition: all 0.5s ease 0.6s;
  }

  li.fade{
    opacity: 1;
  }

  *{
    font-size: 14px;
  }

  .box0 img{
    width: 100%;
  }

  .box{
    grid-template-areas: 
    "content1"
    "image1"
    "content2"
    "image2"
  }
}